
@if(Note != null)
{
    <tr>
        <td>@Note.Title</td>
        <td>@Note.Owner</td>
        <td>@(Note.ReportDate.HasValue?Note.ReportDate.Value.ToString("yyyy-MM-dd"):string.Empty)</td>
        <td>@(Note.DueDate.HasValue?Note.DueDate.Value.ToString("yyyy-MM-dd"):string.Empty)</td>
    </tr>
}


@code {

    [Parameter]
    public Note Note { get; set; }
}
