@page "/projects/{projectId:int}/notes"

@inject NavigationManager NavigationManager
@inject INotesScreenUseCases NotesScreenUseCases

<h3>Notes</h3>
<br />

<div class="row">
    <div class="col-auto">
        <input type="text" class="form-control" @bind-value="searchFilter" />
    </div>
    <div class="col-auto">
        <button class="btn btn-light" @onclick="OnSearch">Search</button>
    </div>
    <div class="col-auto">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="mynotes" @bind-value="ViewMyNotes"/>
            <label class="form-check-label" for="mynotes">View My Notes</label>
        </div>
    </div>
</div>

<br />

@if (notes != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Owner</th>
                <th>Create Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in notes)
            {
                <NoteRowComponent Note="note"></NoteRowComponent>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="AddNote">Add Note</button>

}

@code {

    IEnumerable<Note> notes;
    string searchFilter;

    [Parameter]
    public int ProjectId { get; set; }

    bool viewMyNotes = false;
    public bool ViewMyNotes
    {
        get => viewMyNotes;
        set
        {
            viewMyNotes = value;

            Task.Run(async () =>
            {
                if (viewMyNotes)
                    notes = await NotesScreenUseCases.ViewOwnersNotes(ProjectId, "Ronnie Grahn");
                else
                    notes = await NotesScreenUseCases.ViewNotes(ProjectId);

                StateHasChanged();
            });


        }
    }



    protected override async Task OnParametersSetAsync()
    {
        notes = await NotesScreenUseCases.ViewNotes(ProjectId);
    }

    private async Task OnSearch()
    {
        notes = await NotesScreenUseCases.SearchNotes(searchFilter);
    }

    private void AddNote()
    {
        NavigationManager.NavigateTo($"/projects/{ProjectId}/addnote");
    }
}
